
@{
    ViewBag.Title = "Index";
}

<h2>Reserva</h2>
<div>
    <button class="btn btn-primary" id="buscar">Buscar</button>
</div>
<div id="container-reserva">
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Código</th>
                <th>Libro</th>
                <th>Estado</th>
                <th>Fecha Reserva</th>
            </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
    
</div>

<div class="modal" id="modalConfirmacion" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo-modal">Confirmar</h5>
            </div>
            <div class="modal-body">
                <p id="cuerpo-modal"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="reservar">Reservar</button>
                <button type="button" class="btn btn-secondary" id="cerrar" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/reserva.js"></script>